In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
card_data = pd.read_csv('creditcard.csv')
card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
card_data.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
legit = card_data[card_data.Class == 0]
fraud = card_data[card_data.Class == 1]

In [8]:
print(legit.shape , fraud.shape)

(284315, 31) (492, 31)

In [9]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
#Undersampling the dataset
#create a test data set with equal amounts of normal and fruad transactions

In [13]:
legit_sample = legit.sample(n = 492)

In [14]:
new_dataset = pd.concat([legit_sample , fraud] , axis = 0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
228512,145544.0,-0.264312,1.239154,-0.360887,0.597403,1.491466,-0.633453,1.179119,-0.178601,-0.847421,...,0.007156,0.113865,-0.152317,-0.512283,-0.579037,-0.800974,0.129642,0.239459,6.90,0
113918,73260.0,1.233144,0.189868,0.629888,0.707835,-0.719922,-1.200394,0.011885,-0.177277,0.155055,...,-0.244927,-0.756894,0.185822,0.682525,0.143524,0.077069,-0.034694,0.020766,3.59,0
205418,135738.0,-0.126939,0.712679,-0.249840,0.338856,0.847298,-1.180722,1.243227,-0.477146,-0.479416,...,0.132493,0.614213,-0.129657,0.132213,-0.745793,0.379038,0.111195,0.201527,42.01,0
138988,82956.0,-0.963452,1.280434,1.349187,-0.303963,0.106962,-0.142650,0.503381,0.233281,-0.293862,...,-0.209419,-0.402887,0.013704,-0.005245,-0.189771,0.092582,0.491402,0.233502,4.26,0
258728,158789.0,-1.964396,-2.936924,-0.381352,-0.046911,-1.100349,1.592838,2.820701,-0.106722,0.332317,...,0.889920,0.975899,2.038482,-0.245438,-0.338037,-0.666894,-0.227505,0.081794,897.75,0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93379.930894,-0.025729,0.080759,0.127968,0.058669,-0.043926,-0.008370,0.170719,-0.000977,0.039811,...,-0.033620,-0.011761,-0.024387,-0.007442,-0.00009,0.008611,-0.005072,-0.004493,-0.008625,97.378862
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
228512,145544.0,-0.264312,1.239154,-0.360887,0.597403,1.491466,-0.633453,1.179119,-0.178601,-0.847421,...,0.007156,0.113865,-0.152317,-0.512283,-0.579037,-0.800974,0.129642,0.239459,6.90,0
113918,73260.0,1.233144,0.189868,0.629888,0.707835,-0.719922,-1.200394,0.011885,-0.177277,0.155055,...,-0.244927,-0.756894,0.185822,0.682525,0.143524,0.077069,-0.034694,0.020766,3.59,0
205418,135738.0,-0.126939,0.712679,-0.249840,0.338856,0.847298,-1.180722,1.243227,-0.477146,-0.479416,...,0.132493,0.614213,-0.129657,0.132213,-0.745793,0.379038,0.111195,0.201527,42.01,0
138988,82956.0,-0.963452,1.280434,1.349187,-0.303963,0.106962,-0.142650,0.503381,0.233281,-0.293862,...,-0.209419,-0.402887,0.013704,-0.005245,-0.189771,0.092582,0.491402,0.233502,4.26,0
258728,158789.0,-1.964396,-2.936924,-0.381352,-0.046911,-1.100349,1.592838,2.820701,-0.106722,0.332317,...,0.889920,0.975899,2.038482,-0.245438,-0.338037,-0.666894,-0.227505,0.081794,897.75,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [20]:
#Splitting the data into dependent and Independent Sets
#Basically into Features and Targets

In [21]:
x = new_dataset.drop(columns = 'Class' , axis = 1)
y = new_dataset['Class']

In [22]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
228512,145544.0,-0.264312,1.239154,-0.360887,0.597403,1.491466,-0.633453,1.179119,-0.178601,-0.847421,...,-0.122048,0.007156,0.113865,-0.152317,-0.512283,-0.579037,-0.800974,0.129642,0.239459,6.90
113918,73260.0,1.233144,0.189868,0.629888,0.707835,-0.719922,-1.200394,0.011885,-0.177277,0.155055,...,-0.156326,-0.244927,-0.756894,0.185822,0.682525,0.143524,0.077069,-0.034694,0.020766,3.59
205418,135738.0,-0.126939,0.712679,-0.249840,0.338856,0.847298,-1.180722,1.243227,-0.477146,-0.479416,...,-0.095099,0.132493,0.614213,-0.129657,0.132213,-0.745793,0.379038,0.111195,0.201527,42.01
138988,82956.0,-0.963452,1.280434,1.349187,-0.303963,0.106962,-0.142650,0.503381,0.233281,-0.293862,...,0.334797,-0.209419,-0.402887,0.013704,-0.005245,-0.189771,0.092582,0.491402,0.233502,4.26
258728,158789.0,-1.964396,-2.936924,-0.381352,-0.046911,-1.100349,1.592838,2.820701,-0.106722,0.332317,...,2.113603,0.889920,0.975899,2.038482,-0.245438,-0.338037,-0.666894,-0.227505,0.081794,897.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [23]:
y

228512    0
113918    0
205418    0
138988    0
258728    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [24]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2 , stratify = y , random_state = 2)

In [25]:
print(x.shape , x_train.shape , x_test.shape)

(984, 30) (787, 30) (197, 30)

In [26]:
# Model Training
# Logistic Regression

In [27]:
model = LogisticRegression()

In [28]:
#training the model with training data_set
model.fit(x_train , y_train)

LogisticRegression()

In [29]:
# Evaluvation

In [30]:
#accuracy on training data

x_train_predict = model.predict(x_train)
train_accuracy = accuracy_score(x_train_predict , y_train)

In [31]:
print('Training data accuracy: ' , train_accuracy)

Training data accuracy:  0.9453621346886912

In [32]:
y_test.shape

(197,)

In [33]:
#accuracy on test data
x_test_predict = model.predict(x_test)
x_test_accuracy = accuracy_score(x_test_predict , y_test)

In [34]:
print('Testing data accuracy: ' , x_test_accuracy)

Testing data accuracy:  0.9238578680203046

In [35]:
# 4740 , time = 4184.0

In [36]:
card_data[card_data.Time == 153761.0]

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
247994,153761.0,2.107682,-1.332730,0.371598,-0.483967,-1.876600,-0.179420,-1.675146,0.173076,1.144532,...,0.126526,0.653727,0.251862,0.059027,-0.370298,-0.188969,0.057666,-0.039229,1.60,0
247995,153761.0,1.146259,1.403458,-4.159148,2.660107,-0.323217,-1.836071,-1.623740,0.259562,-1.132044,...,0.564450,0.445744,-0.141136,-0.265517,0.362260,-0.416062,0.507370,0.243744,51.37,1
247996,153761.0,-2.750721,2.974493,-2.360863,-1.662491,0.400563,-1.425957,1.124598,0.356270,0.958142,...,-0.062360,0.871753,-0.219541,-0.384635,0.083591,-0.004163,-0.083047,-0.623615,7.70,0

In [37]:
x_test_predict.shape

(197,)